# Ignorar carpetas de pycache
__pycache__/
**/__pycache__/
*.py[cod]

*.pyo
*.pyd
.pytest_cache
# Entornos virtuales
.venv/
.env/
ENV/

# Archivos de empaquetado
*.egg-info/
dist/
build/

# Archivos de datos temporales (opcional, si no quieres rastrear estos)
posts.json
users.json

# Archivos de pruebas o temporales (opcional)
*.log
*.cache